/**
* main file
* @authors: pmontesano
* @description: main file, mobile
*/

.ml-force-app {

	overflow: hidden;

	&[class*=ch-box] {
		margin-top: 10px;
	}

	&-title {
		font-size: 22px;
    	line-height: 22px;
    	margin: auto;
		max-width: 78%;
	}

	&-text {
		color: #999;
		font-size: 15px;
		line-height: 18px;
		padding: 10 20px;
	}

	&-actions {
		margin-top: 0;
	}

	&-title,
	&-text,
	&-actions {
		text-align: center;
	}

	&-figure {
		background: url('../images/device@2x.png') no-repeat;
	}

	&-qr {
		display: none;
	}

}

$iphone6-landscape: (min-device-width : 375px) and (max-device-width : 667px) and (width : 667px) and (height : 375px) and (orientation : landscape) and (color : 8) and (device-aspect-ratio : 375/667) and (aspect-ratio : 667/375) and (device-pixel-ratio : 2) and (-webkit-min-device-pixel-ratio : 2);
$iphone6-portrait: (min-device-width : 375px) and (max-device-width : 667px) and (width : 375px) and (height : 559px) and (orientation : portrait)and (color : 8)and (device-aspect-ratio : 375/667)and (aspect-ratio : 375/559)and (device-pixel-ratio : 2)and (-webkit-min-device-pixel-ratio : 2);

@media #{$iphone6-portrait} and #{$iphone6-landscape} {

	.ml-force-app {
		background: #ffffff;
		background: linear-gradient(to bottom,  #ffffff 80%,#f5f5f5 80%,#f5f5f5 100%);

		&-figure {
			background-size: 80%;
			float: left;
			height: 217px;
			width: 150px;
		}

		&-actions {
			float: right;
			width: 50%;
			margin-top: 50px;
		}

	}
}