/*!
 * Navigation
 * @platform "mercadolibre"
 * @version 1.1.2
 * @author MercadoLibre.com
 */
@font-face {
  font-family: navigation;
  src: ui-build/fonts/icons.eot);
  src: ui-build/fonts/icons.eot#iefix) format("embedded-opentype"), url(../icons.woff) format("woff"), url(../icons.ttf) format("truetype"), url(../icons.svg#navigation) format("svg");
  font-style: normal;
  font-weight: 400; }

[class*=' nav-icon-'], [class^=nav-icon-] {
  font-style: normal; }

[class*=' nav-icon-']:before, [class^=nav-icon-]:before {
  font-variant: normal;
  margin: 0;
  speak: none;
  text-align: center;
  width: 1em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: navigation; }

.nav-icon-help:before {
  content: '\e800'; }

.nav-icon-user:before {
  content: '\e801'; }

.nav-icon-search:before {
  content: '\e802'; }

.nav-icon-notifications:before {
  content: '\e803'; }

.nav-icon-bookmarks:before {
  content: '\e804'; }

.nav-icon-logout:before {
  content: '\e805'; }

.nav-icon-chevron-right:before {
  content: '\e806'; }

.nav-icon-chevron-up:before {
  content: '\e807'; }

.nav-icon-twitter:before {
  content: '\e808'; }

.nav-icon-facebook:before {
  content: '\e809'; }

.nav-icon-gplus:before {
  content: '\e810'; }

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  border-collapse: collapse;
  display: table;
  font-family: Arial,Helvetica,'Nimbus Sans L',sans-serif;
  table-layout: fixed; }

.nav-footer, .nav-header, [role=main] {
  display: table-row;
  width: 100%; }

[role=main] {
  height: 100%; }

[role=main] .nav-bounds {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

[role=main] .nav-bounds[class*=ch-box-] {
  border: none;
  background-color: transparent; }

.nav-bounds {
  display: block;
  padding: 0 10px;
  margin: 0 auto; }

#nav-header-user-switch, .nav-footer-access, .nav-footer-navigation, .nav-footer-secondaryinfo, .nav-header-user-layer a:last-child, [for=nav-header-user-switch] {
  display: none; }

.nav-header {
  background-color: #fff059;
  color: #5b562f;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: default;
  border-bottom: 1px solid #d9d9d9; }

.nav-header .nav-bounds {
  position: relative; }

.nav-header, .nav-header *, .nav-header :after, .nav-header :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.nav-header.nav-header-sticky {
  position: fixed; }

[for=nav-header-menu-switch] {
  position: absolute;
  top: 0;
  right: 0;
  height: 44px;
  width: 54px;
  cursor: pointer; }

#nav-header-menu-switch {
  display: none; }

#nav-header-menu-switch:checked + .nav-header-menu-wrapper .hamburger-top-bread {
  -webkit-transform: translate(0, 8px) rotate(40deg);
  -ms-transform: translate(0, 8px) rotate(40deg);
  transform: translate(0, 8px) rotate(40deg); }

#nav-header-menu-switch:checked + .nav-header-menu-wrapper .hamburger-patty {
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0); }

#nav-header-menu-switch:checked + .nav-header-menu-wrapper .hamburger-bottom-bread {
  -webkit-transform: translate(0, -8px) rotate(-40deg);
  -ms-transform: translate(0, -8px) rotate(-40deg);
  transform: translate(0, -8px) rotate(-40deg); }

#nav-header-menu-switch:checked + .nav-header-menu-wrapper #nav-header-menu {
  display: block; }

.hamburger-bottom-bread, .hamburger-patty, .hamburger-top-bread {
  position: absolute;
  display: block;
  width: 26px;
  height: 4px;
  background-color: #716C37;
  top: 50%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  left: 14px; }

.hamburger-top-bread {
  margin-top: -10px; }

.hamburger-patty {
  margin-top: -2px; }

.hamburger-bottom-bread {
  margin-top: 6px; }

#nav-header-menu:after, #nav-header-menu:before {
  border-style: solid;
  border-color: transparent;
  position: absolute;
  bottom: 100%;
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
  content: ''; }

#nav-header-menu, #nav-header-menu a {
  position: relative; }

#nav-header-menu a:first-child {
  border-top-color: #d9d9d9; }

#nav-header-menu a:after {
  position: absolute;
  top: 0;
  right: 20px;
  content: '\e806';
  font-family: navigation;
  color: #a6a6a6; }

#nav-header-menu .notifications-widget {
  display: none; }

#nav-header-menu:before {
  border-bottom-color: #d9d9d9;
  border-width: 8px;
  right: 19px;
  pointer-events: none; }

#nav-header-menu:after {
  border-width: 7px;
  border-bottom-color: #fff;
  right: 20px;
  pointer-events: none; }

.nav-logo {
  background-repeat: no-repeat;
  display: inline-block;
  overflow: hidden;
  text-indent: -999px;
  position: absolute;
  left: 10px; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .nav-logo {
    background-image: ui-build/images/logo__small@2x.png);
    -webkit-background-size: 47px 32px;
    background-size: 47px 32px; } }

.nav-search {
  top: 0;
  right: 54px; }

input[type=text].nav-search-input {
  border: 1px solid #ccc;
  color: #444;
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fff; }

input[type=text].nav-search-input:focus {
  -webkit-box-shadow: 0 0 5px rgba(117, 127, 16, 0.2);
  box-shadow: 0 0 5px rgba(117, 127, 16, 0.2);
  border: 1px solid #ccc;
  outline: 0; }

input[type=text].nav-search-input.ch-autocomplete-loading {
  background-position: right 30px center; }

button.nav-search-btn, button.nav-search-btn:focus {
  position: absolute;
  padding: 0;
  background: 0 0;
  font-size: 18px;
  color: #777;
  line-height: 1em;
  outline: 0; }

.nav-icon-search:before {
  display: inline-block; }

.nav-icon-search span {
  display: none; }

.nav-footer {
  color: #999;
  font-size: 13px;
  overflow: hidden; }

.nav-footer, .nav-footer *, .nav-footer :after, .nav-footer :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.nav-footer-primaryinfo {
  margin: 15px 0;
  overflow: hidden; }

.nav-footer-copyright {
  font-size: inherit;
  display: inline-block; }

.nav-footer-user {
  padding: 12px;
  background-color: #f7f7f7;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.nav-footer-user .nav-footer-registration {
  margin-right: 1em; }

.nav-footer-change-device {
  float: right; }

#nav-footer-access-switch {
  display: none; }

[class*=' nav-icon-']:before, [class^=nav-icon-]:before {
  display: inline-block; }

[class*=' nav-icon-'] span, [class^=nav-icon-] span {
  display: none; }

body, html {
  font-size: 13px;
  background-color: #fff; }

.nav-bounds {
  max-width: 1220px; }

.nav-footer-user, .nav-header-btn, .nav-title {
  display: none; }

.nav-header {
  background-image: none;
  height: 54px; }

.nav-header .nav-bounds {
  padding: 0 0 0 220px;
  height: 54px; }

.nav-header.nav-header-sticky + main > .nav-bounds, .nav-header.nav-header-sticky ~ main > .nav-bounds {
  padding-top: 54px; }

[for=nav-header-menu-switch] {
  display: none; }

#nav-header-menu {
  display: block;
  font-size: 0;
  margin: 0 0 0 51px;
  background-color: transparent;
  float: right;
  height: 54px; }

#nav-header-menu a {
  display: inline;
  height: auto;
  border-top: none;
  color: #918B3F;
  text-decoration: none;
  border-left: 1px solid #dccf50;
  padding: 6px 13px;
  line-height: 54px;
  font-size: 13px; }

#nav-header-menu a:first-child {
  border-left: none; }

#nav-header-menu a:after {
  display: none; }

#nav-header-menu a:hover {
  color: #716D39; }

#nav-header-menu a:hover i:before {
  color: #4E4C2F; }

#nav-header-menu a.bookmarks-widget, #nav-header-menu a.notifications-widget {
  border-left: none;
  padding-left: 0;
  display: inline; }

#nav-header-menu i:before {
  color: #716C37;
  vertical-align: middle;
  font-size: 18px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75); }

#nav-header-menu i.nav-icon-help:before {
  font-size: 19px; }

#nav-header-menu i span {
  font-size: 13px; }

#nav-header-menu .nav-icon-user {
  pointer-events: none; }

#nav-header-menu .nav-icon-user:before {
  margin-left: 5px; }

#nav-header-menu:after, #nav-header-menu:before, [data-country=BR] #nav-header-menu .nav-icon-help:before {
  display: none; }

[data-country=BR] #nav-header-menu .nav-icon-help span {
  display: inline-block; }

.nav-header-user {
  display: inline-block;
  position: relative;
  height: 44px;
  line-height: 44px; }

[for=nav-header-user-switch] {
  cursor: pointer;
  font-size: 11px;
  color: #918B3F;
  margin: 0 13px;
  padding: 10px 0;
  text-transform: uppercase;
  display: inline; }

[for=nav-header-user-switch]:hover {
  color: #716D39; }

#nav-header-menu [for=nav-header-user-switch]:hover i:before {
  color: #4E4C2F; }

.ie8 [for=nav-header-user-switch], .lt-ie9 [for=nav-header-user-switch] {
  margin: 0; }

.ie8 #nav-header-menu [for=nav-header-user-switch] a, .lt-ie9 #nav-header-menu [for=nav-header-user-switch] a {
  font-size: 11px; }

#nav-header-user-switch {
  display: none; }

#nav-header-user-switch:checked + .nav-header-user-layer {
  display: block; }

.nav-header-user-layer {
  background-color: #fff;
  border: 1px solid #dedede;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px rgba(99, 99, 99, 0.2);
  box-shadow: 2px 2px 2px rgba(99, 99, 99, 0.2);
  right: 6px;
  position: absolute;
  top: 100%;
  z-index: 1;
  width: 150px;
  display: none; }

.nav-header-user-layer:after, .nav-header-user-layer:before {
  border: outset transparent;
  border-bottom-style: solid;
  bottom: 100%;
  content: '';
  display: block;
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0; }

.nav-header-user-layer:before {
  border-bottom-color: #dedede;
  border-width: 8px;
  right: 7px; }

.nav-header-user-layer:after {
  border-bottom-color: #fff;
  border-width: 7px;
  right: 8px; }

#nav-header-menu .nav-header-user-layer a {
  color: #000;
  display: block;
  line-height: 25px;
  margin: 3px 0;
  padding: 5px 15px;
  text-decoration: none;
  border-left: none; }

#nav-header-menu .nav-header-user-layer a:last-child {
  display: block; }

#nav-header-menu .nav-header-user-layer a:hover {
  color: #000;
  background-color: #fefbd6; }

.nav-logo {
  background-image: ui-build/images/logo__large.png);
  height: 40px;
  top: 7px;
  width: 159px; }

[data-country=BR] .nav-logo, [data-country=PT] .nav-logo {
  background-image: ui-build/images/logo-pt__large.png); }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .nav-logo {
    background-image: ui-build/images/logo__large@2x.png);
    -webkit-background-size: 159px 40px;
    background-size: 159px 40px; }
  [data-country=BR] .nav-logo, [data-country=PT] .nav-logo {
    background-image: ui-build/images/logo-pt__large@2x.png); } }

.nav-search {
  padding: 7px 5px;
  overflow: auto;
  max-width: 540px;
  height: 54px;
  position: relative;
  left: -5px; }

input[type=text].nav-search-input {
  padding: 5px 60px 5px 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

input[type=text].nav-search-input:focus {
  padding: 5px 60px 5px 15px; }

input[type=text].nav-search-input .ch-autocomplete-loading {
  background-position: right 10px center; }

button.nav-search-btn, button.nav-search-btn:focus {
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  width: 46px;
  height: 40px;
  border: 1px solid #ccc;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#fff, #f1f1f1);
  background-image: linear-gradient(#fff, #f1f1f1);
  top: 7px;
  right: 5px; }

.nav-footer {
  background-color: #f7f7f7;
  border-top: 1px solid #eee;
  line-height: 1; }

.nav-footer .nav-bounds {
  padding-top: 15px;
  padding-bottom: 15px; }

.nav-footer-copyright {
  margin: 0; }

.nav-footer-navigation {
  display: inline-block;
  font-size: 0; }

.nav-footer-navigation a {
  border-right: 1px solid #ddd;
  font-size: 13px;
  padding: 0 10px; }

.nav-footer-navigation a:last-of-type {
  border-right: none; }

.nav-footer-primaryinfo {
  margin-top: 0;
  margin-bottom: 0; }

.nav-footer-secondaryinfo {
  display: block;
  margin: 7.5px 0 0; }

.nav-footer-change-device {
  display: none; }

.nav-footer-access {
  display: block;
  position: relative; }

.nav-footer-access [for=nav-footer-access-switch] i:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.nav-footer-access, .nav-footer-access *, .nav-footer-access :after, .nav-footer-access :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#nav-footer-access-switch:checked + .nav-footer-access .nav-footer-access-content {
  max-height: 0;
  border-top: none; }

#nav-footer-access-switch:checked + .nav-footer-access [for=nav-footer-access-switch] i:before {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

[for=nav-footer-access-switch] {
  background-color: #f7f7f7;
  border: 1px solid #eee;
  border-bottom: none;
  color: #666;
  cursor: pointer;
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
  position: absolute;
  left: 50%;
  bottom: 100%;
  -webkit-transform: translate(-50%, 1px);
  -ms-transform: translate(-50%, 1px);
  transform: translate(-50%, 1px);
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  z-index: 1; }

[for=nav-footer-access-switch] i {
  margin-left: 2px;
  font-size: 11px;
  top: -1px;
  position: relative; }

[for=nav-footer-access-switch] i:before {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear; }

.ie8 [for=nav-footer-access-switch], .lt-ie9 [for=nav-footer-access-switch] {
  display: none; }

.nav-footer-access-content {
  line-height: 0;
  max-height: 155px;
  overflow: hidden;
  -webkit-transition: max-height 200ms linear;
  transition: max-height 200ms linear;
  font-size: 0;
  background-color: #f7f7f7;
  border-top: 1px solid #eee;
  margin-top: 64px;
  position: relative;
  bottom: 0; }

.nav-footer-access-content a, .nav-footer-access-content a:active, .nav-footer-access-content a:link, .nav-footer-access-content a:visited {
  color: #999;
  text-decoration: none; }

.nav-footer-access-content a:hover {
  text-decoration: underline; }

.nav-footer-access-content [class^=nav-icon-]:before {
  font-size: 18px;
  margin-right: 7px;
  vertical-align: top; }

.nav-footer-access-content .nav-icon-twitter:before {
  font-size: 20px;
  margin-right: 5px; }

.nav-footer-access-col {
  width: 20%;
  font-size: 13px;
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
  margin: 15px 0; }

.nav-footer-access-col ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.nav-footer-access-title {
  color: #666;
  font-weight: 700;
  margin: 0 0 5px;
  font-size: 13px; }
